<div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">API Name</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Give a friendly name to your API." aria-describedby="basic-addon1">

    </div>
</div>