@model FilePreviewModel
<div>
    <table class="table">
        <tr>
            @foreach (var heading in Model.Records[0])
            {
                <td>@heading.Name</td>
            }
        </tr>
        @foreach (var record in Model.Records)
        {
            <tr>
                @foreach (var field in record)
                {
                    <td>@field.Value</td>
                }
            </tr>
        }
    </table>
    <div>
        <a class="btn-primary" type="button" asp-controller="RestDeploymentSetting" asp-action="ProcessFile">Looks Good</a>
    </div>
</div>