<div class="padding-all border-top border-bottom">
    <div class="border-top border-bottom">
        <form enctype="multipart/form-data" method="post" action="RestDeploymentSetting/UploadFile">
            <input class="btn btn-primary" type="file", name="files">
            <input class="btn btn-primary" type="submit" value="Upload" />
        </form>
    </div>
</div>